// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.profile-image {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
}
